body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #6743FF;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #A58FFF;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.main-menu {
    display: flex;
}

.main-menu.show {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6743FF;
    width: 100%;
}

.main-menu.show li {
    margin: 0;
}

.main-menu.show li a {
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #A58FFF;
}

.main-menu.show li:last-child a {
    border-bottom: none;
}

main {
    padding-top: 100px;
}

.categories ul, .fonctionnalites ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categories ul li, .fonctionnalites ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #6743FF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
